* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #f6f6f6;
  --background-img: url("https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini.png");
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --background-img: url("https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini-dark.png");
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

body {
  /* background-color: var(--background-color); */
  transition: background-color 0.25s ease-in-out;
  animation: scroll 100s infinite;
  background: var(--background-img), #111111;
  /* padding: 5rem 10rem; */
}

body {
  /* color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%; */
  /* height: 100vh; */
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.25s ease-in-out;
}

a.active {
  font-weight: 600;
  font-size: 1.2rem;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  body {
    animation: scroll 800s linear infinite;
  }
}
