.App {
  color: var(--primary-text-color);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  gap: 1rem;
  overflow: auto;
  padding: 5rem 25rem;
  width: 100%;
  /* position: relative; */
}
