.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-bottom: 10rem;
  /* scroll-snap-type: y mandatory; */
  height: 100vh;
  line-height: 26px;
  min-width: 328.5px;
}

.heading h1 {
  display: none;
}

.pt {
  /* scroll-snap-align: center; */
  padding-top: 2rem;
}

.bottomSection {
  padding-bottom: 10rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.gridContainer:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.055);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 0.5rem;
}

.gridContainer:hover .gridHeader {
  color: var(--special-text-color);
}

.gridItem {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.date {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.gridHeader {
  font-size: 1.2rem;
  font-weight: 600;
  /* margin-bottom: 0.5rem; */
}

.gridBody {
  /* font-size: 0.9rem; */
  color: var(--secondary-text-color);
  /* line-height: 1.5rem; */
}

.techUsed {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.techUsed li {
  background: var(--special-bg-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 1rem;
  padding: 0.1rem 0.8rem;
  color: var(--special-text-color);
}

.resume:hover {
  color: #518cfc;
}

.contactContainer {
  padding: 1rem;
  color: var(--secondary-text-color);
}

.contactContainer:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.055);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 0.5rem;
}

.contactContainer p {
  margin-bottom: 1rem;
}

.contactContainer:hover svg {
  fill: var(--special-text-color);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 920px) {
  .right {
    width: 100%;
    min-width: unset;
  }

  .heading h1 {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    /* background: var(--special-bg-color); */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: -2rem;
    margin-right: -2rem;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
