.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.item {
  width: 7rem;
  height: 7rem;
  background: rgba(255, 255, 255, 0.158);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 0.5rem;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.image {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin: 0.5rem;
}
